@import "../../../../styles.scss";

.header_bckgrnd {
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  padding: 0.75em 0 0.75em 0;
  margin: 0 15em 0 15em;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo_navitems {
  display: flex;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 11em;
  height: 2em;
  margin: 0 1.5em 0 0;
  background-image: url("../../../../assets/images/logo-color.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.logoText {
  display: flex;
  align-items: center;
  font-size: large;
}

.pageButtons {
  display: flex;
  gap: 1em;
  margin: 0 0 0 3em;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  overflow: visible;
  vertical-align: middle;
  font-family: "Roobert Light", sans-serif;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.navItems:hover {
  color: $secondary-green-cafler;
}

select {
  text-align: center;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  font-family: "Roobert Light", sans-serif;
}

.multiButton {
  display: flex;
  gap: 2em;
  border: none !important;
}

.dark_mode {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.dark_mode:hover {
  color: $green-cafler;
}
