<div *ngIf="optimizedRoutes$ | async as optimizedRoutes">
  <div *ngFor="let productRouteDetail of optimizedRoutes">
    <h2>Ruta {{ productRouteDetail.routeId }}</h2>
    <div *ngFor="let productsName of productRouteDetail.productsToDeliver">
      <p>
        {{
          productsName.orderId
            | productName: ls.getItem("orderList") || []
            | translate
        }}
      </p>
    </div>
    <p>
      Conductor:
      {{
        productRouteDetail.driverId
          | ridersName: ls.getItem("riderList") || []
          | translate
      }}
    </p>
  </div>
</div>
<a routerLink="/home">{{ "assign2" | translate }}</a
><br />
<button>{{ "saveRoutes" | translate }}</button>
