<div *ngIf="optimizedRoutes$ | async as optimizedRoutes">
  <div *ngFor="let productRouteDetail of optimizedRoutes">
    <h2>Ruta {{ productRouteDetail.routeId }}</h2>
    <div *ngFor="let productsName of productRouteDetail.productsToDeliver">
      <p>
        {{ productsName.orderId | productName }}
      </p>
    </div>
    <p>Conductor: {{ productRouteDetail.driverId }}</p><!-- Hacer lo mismo que en productos pero con los conductores -->
  </div>
</div>
<a routerLink="/home">{{ "assign2" | translate }}</a>
